<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>

    BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB
    <partial name="_menu" />

    @*Html.partial("_menu")*@

    @RenderBody()

    <footer>
        rodapé
    </footer>

</body>
</html>

